.wrapper {
  position: relative;
  padding-top: 180px;
  padding-bottom: 130px;
  /* background-image: */
  background-color: indigo;
  background-size: cover;
  background-position: center;
  margin-top: -120px;
}

@media (max-width: var(--mantine-breakpoint-xs)) {
  .wrapper {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

.inner {
  position: relative;
 margin-right: 400px;
  z-index: 1;
}

.title {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: center;
  font-family: Outfit, var(--mantine-font-family);
}

@media (max-width: var(--mantine-breakpoint-xs)) {
  .title {
    font-size: 28px;
    text-align: left;
  }
}

.highlight {
  color: var(--mantine-color-primary-4);
}

.description {
  color: var(--mantine-color-gray-0);
  text-align: center;
}

@media (max-width: var(--mantine-breakpoint-xs)) {
  .description {
    font-size: var(--mantine-font-size-md);
    text-align: left;
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;
  justify-content: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}
/*mobiliization*/
@media (max-width: var(--mantine-breakpoint-xs)) {  
  .controls {
    flex-direction: column;
  }
}

.control {
  height: 42px;
  font-size: var(--mantine-font-size-md);
  border: none;
  border-radius: 8px;
  padding: 0 1.5em;
  background-color: var(--mantine-color-blue-6);
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.control:hover {
  background-color: var(--mantine-color-blue-7);
  transform: scale(1.03);
}

/*Button Spacing*/
.control:not(:first-of-type) {
  margin-left: var(--mantine-spacing-md);
}

@media (max-width: var(--mantine-breakpoint-xs)) {
  .control:not(:first-of-type) {
    margin-top: var(--mantine-spacing-md);
    margin-left: 0;
  }
}

.secondaryControl {
  color: var(--mantine-color-white);
  background-color: rgba(255, 255, 255, 0.4);
}

.secondaryControl:hover {
  background-color: rgba(255, 255, 255, 0.45);
}


